.product {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-name {
    color: rgb(66, 114, 186);
    font-weight: 400;
}
.buy-btn{
    background-color: rgba(218, 165, 32, 0.817);
    width: 150px;
    height: 30px;
    border: 1px solid rgb(53, 49, 49);
    border-radius: 5px;
    
    cursor: pointer;
    margin-bottom: 5px;
}